
/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

nav {
  width: 80%;
  border: solid;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 30px;
  border-radius: 5px;
  margin-left: 50px;
}

.link:hover {
  color: rgb(96, 59, 231);
}

.mainCard {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bookTable {
  border-color: blue;
  border-style: solid;
}

.footer {
  width: 80%;
  margin-left: 50px;
  border: solid;
  border-radius: 5px;
  position: absolute;
  bottom: 15px;
}

.footer-p {
  margin-left: 10px;
}

.nav-list {
  display: flex;
  list-style: none;
  margin: 0;
  margin-right: 20px;
}

.logo {
  margin: 0;
  font-size: 20px;
  font-weight: 600;
  margin-left: 20px;
}

.link {
  text-decoration: none;
  color: black;
}

.lists {
  border-right: solid black 2px;
  margin-right: 10px;
  padding: 3px;
  padding-right: 10px;
}

.bookTable {
  margin-top: 5px;
}

.listBook {
  display: flex;
}

.inputData {
  display: none;
}

.contact {
  display: none;
}